.cv .year{
  width:9%;
  display:inline-block;
  box-sizing:border-box;
  text-align:left;
  vertical-align: top;
  }

.cv .title, .cv .paper, .cv .article {
  text-align:left;
  width:91%;
  display:inline-block;
  box-sizing:border-box;
  vertical-align: top;
  }

.cv .property{
  width:25%;
  display:inline-block;
  box-sizing:border-box;
  text-align:right;
  vertical-align: top;
  }

.cv .value{
  text-align:left;
  padding-left:10px;
  width:75%;
  display:inline-block;
  box-sizing:border-box;
  vertical-align: top;
  }

.cv .talktitle{
  text-align:left;
  padding-left:10px;
  width:87%;
  display:inline-block;
  box-sizing:border-box;
  font-variant: small-caps;
  font-style:italic;
  font-size: large;
  vertical-align: top;
  }

.cv .collaborator{
  text-align:justify;
  padding-left:10px;
  width:87%;
  display:inline-block;
  box-sizing:border-box;
  vertical-align: top;
  }

.cv .pretalktitle{
  width:13%;
  display:inline-block;
  box-sizing:border-box;
  text-align:right;
  font-style:italic;
  font-variant: small-caps;
  vertical-align: top;
  }

.cv-lang .property{
  width:12%;
  display:inline-block;
  box-sizing:border-box;
  text-align:right;
  }

.cv-lang .value{
  text-align:left;
  padding-left:10px;
  width:88%;
  display:inline-block;
  box-sizing:border-box;
  }

.cv > .value a:active, .cv > .value a:hover{
    color: #ee2523;
    font-style:italic;
    font-variant: small-caps;
}

.cv > .property a:active, .cv > .property a:hover{
    color: #ee2523;
    font-style:italic;
    font-variant: small-caps;
}

.cv > .talktitle a:active, .cv > .talktitle a:hover{
    color: #ee2523;
    font-style:italic;
    font-variant: small-caps;
}

.cv > .collaborator a:active, .cv > .collaborator a:hover{
    color: #ee2523;
    font-style:italic;
    font-variant: small-caps;
}

.cv > .paper h4, .cv > .article h4 {
    font-style: italic;
}

.cv > .article a, .cv > .article h4 a:active, .cv > .article h4 a:hover{
    color: #ee2523;
    font-style:italic;
    font-variant: small-caps;
    float:right;
    font-size: medium;
    font-weight: normal;
}


h4 a:active, h4 a:hover{
    color: #ee2523;
    font-style:italic;
    font-variant: small-caps;
}

button {
    color: #ffffff;
    background-color: #ee2523;
    border:none;
    display: inline-block;
    height: 20px;
}

.btn-arxiv, .btn-arxiv:active{
	background-color: #00ff00;
	border-color : #F3BC1B;
	color: #F3BC1B;
  display: inline;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size:medium;
  float:right;
  font-weight: normal;
  font-style: normal;
  font-variant:normal;
  height:1.5em;
  width:11em;
  padding: 0em 0em;
  text-align: center;
}

.btn-arxiv:hover, .btn-arxiv:focus{
    background-color: #F3BC1B;
		border-color: #00ff00;
		color: #00ff00;
    display: inline;
    font-size:medium;
    float:right;
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
    height:1.5em;
    width:11em;
    padding: 0em 0em;
    text-align: center;
}

.btn-hal, .btn-hal:active{
	background-color: #292063;
	border-color : white;
	color: white;
  display: inline;
  font-size:medium;
  float:right;
  font-weight: normal;
  font-style: normal;
  font-variant:normal;
  height:1.5em;
  width:11em;
  padding: 0em 0em;
  text-align: center;
}

.btn-hal:hover, .btn-hal:focus{
    background-color: white;
		border-color: #292063;
		color: #292063;
    display: inline;
    font-size:medium;
    float:right;
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
    height:1.5em;
    width:11em;
    padding: 0em 0em;
    text-align: center;
}

.btn-phd, .btn-phd:active{
	background-color: #FF69B4;
  border-color : white;
  color: white;
  display: inline;
  font-size:medium;
  float:right;
  font-weight: normal;
  font-style: normal;
  font-variant:normal;
  height:1.5em;
  width:11em;
  padding: 0em 0em;
  text-align: center;
}

.btn-phd:hover, .btn-phd:focus{
    background-color: #FFFFFF;
		border-color: #FF69B4;
    color: black;
    display: inline;
    font-size:medium;
    float:right;
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
    height:1.5em;
    width:11em;
    padding: 0em 0em;
    text-align: center;
}

.btn-manuscript, .btn-manuscript:active{
	background-color: #ee2523;
  border-color : white;
  color: white;
  display: inline;
  font-size:medium;
  float:right;
  font-weight: normal;
  font-style: normal;
  font-variant:normal;
  height:1.5em;
  width:11em;
  padding: 0em 0em;
  text-align: center;
}

.btn-manuscript:hover, .btn-manuscript:focus{
    background-color: #FFFFFF;
		border-color: #ee2523;
    color: black;
    display: inline;
    font-size:medium;
    float:right;
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
    height:1.5em;
    width:11em;
    padding: 0em 0em;
    text-align: center;
}

.btn-blog, .btn-blog:active{
  background-color: #ee2523;
  border-color : white;
  color: white;
  width:11em;
  display: inline;
  font-size:medium;
  float:right;
  font-weight: normal;
  font-style: normal;
  font-variant:normal;
  padding: 0em 0em;
  text-align: center;
}

.btn-blog:hover, .btn-blog:focus{
    background-color: #FFFFFF;
    border-color: #ee2523;
    color: black;
    font-variant:inherit;
    font-style:inherit;
    width:11em;
    display: inline;
    font-size:medium;
    float:right;
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
    padding: 0em 0em;
    text-align: center;
}

.btn-pikasle, .btn-pikasle:active{
  background-color: #0071A9;
  border-color : white;
  color: white;
  width:11em;
  display: inline;
  font-size:medium;
  float:right;
  font-weight: normal;
  font-style: normal;
  font-variant:normal;
  padding: 0em 0em;
  text-align: center;
}

.btn-pikasle:hover, .btn-pikasle:focus{
    background-color: #FFFFFF;
    border-color: #0071A9;
    color: black;
    font-variant:inherit;
    font-style:inherit;
    width:11em;
    display: inline;
    font-size:medium;
    float:right;
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
    padding: 0em 0em;
    text-align: center;
}

.btn-orcid, .btn-orcid:active, .btn-orcid:hover, .btn-orcid:focus{
	background-color: white;
  border-color : #A6CE39;
  color: #A6CE39;
  width:80%;
  font-variant:inherit;
}

.btn-mathscinet, .btn-mathscinet:active{
	background-color: #E46200;
  border-color : white;
  color: white;
  width:80%;
}

.btn-mathscinet:hover, .btn-mathscinet:focus{
	background-color: white;
  border-color : #E46200;
  color: #E46200;
  width:80%;
  font-size:inherit;
  font-weight:inherit;
  font-style:inherit;
  font-variant:inherit;
}

.btn-zbmath, .btn-mzbmath:active{
	background-color: #A51E55;
  color:white;
  border-color : #A51E55;
  width:80%;
}

.btn-zbmath:hover, .btn-zbmath:focus{
	background-color: white;
  border-color :  #A51E55;
  color:  #A51E55;
  width:80%;
  font-size:inherit;
  font-weight:inherit;
  font-style:inherit;
  font-variant:inherit;
}

.btn-idhal, .btn-idhal:active{
	background-color: #292063;
  border-color : white;
  color: white;
  width:80%;
}

.btn-idhal:hover, .btn-idhal:focus{
	background-color: white;
  border-color : #292063;
  color: #292063;
  width:80%;
  font-size:inherit;
  font-weight:inherit;
  font-style:inherit;
  font-variant:inherit;
}

.btn-idarxiv, .btn-idarxiv:active{
  background-color: #00ff00;
  border-color : #F3BC1B;
  color: #F3BC1B;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width:80%;
}

.btn-idarxiv:hover, .btn-idarxiv:focus{
	background-color: #F3BC1B;
  border-color : #00ff00;
  color: #00ff00;
  font-size:medium;
  font-weight:inherit;
  font-style:inherit;
  font-variant:inherit;
  width:80%;
}
